body {
  margin: 0;
  font-family: sans-serif;
  background: rgb(41, 41, 41);
  color: rgb(221, 206, 187);
}

.App{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

h1{
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 3rem;
  letter-spacing: 3px;
  color: rgb(243, 219, 0) ;
}

.content{
  text-align: left;
}
.NavBar{
  margin-bottom: 30px;
  margin-top: 10px;
}
.NavBar{
  background: rgb(41, 41, 41);
  padding: 10px 0px;
  position: sticky;
  top: 0;
}
button{
  padding: 8px 15px;
  margin: 5px 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  
}
.card .info{
  padding-left: 5px;
  color: rgb(243, 219, 0);
}

button:hover,.NavBar-active{
  background-color: rgb(27, 27, 27) !important;
  color:aqua !important;
  border-color: aqua !important;
}

.card{
  background: rgb(27, 27, 27) ;
  color: rgb(199, 199, 199);
  padding: 20px;
  border-radius: 20px;
  margin: 10px 0px;
}
.card p{
  padding: 2px 0px;
}
.card h2{
  font-size: 1.2rem;
  color: aqua;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
}
.pagination{
  margin: 20px 0px;
  display: flex;
}
.pagination .prev{
  justify-content: flex-start;
}
.pagination .current{
  flex:auto;
  text-align: center;
}
.pagination .next{
  justify-content: flex-end;
}